<H2>enter your birthdate</H2>


<form method="post" action="/">
  Birthday:
  <input type="date" name="birthday" id='birthday'>
  <input type="submit">
</form>

<body>
  <span id ="years">00</span>
  <span id ="days">00</span>
  <span id ="minutes">00</span>
  <span id ="seconds">00</span>
</body>

<button onlick="countdown()">Click</button>

<h4>time to create a bucket list!<h5>

<form method="post" action="/" encType="multipart/form-data">
  <input id="browse" name="file" type="file" onChange="previewFile()"/>
  <img src="" height="200" width="200"></img>
  <div id="preview"></div>
  <input id="notes" type="text" name="notes" value="bucket list .................................."></input>
  <input type='submit' value='submit'></input>
</form>



<script src="./javascripts/bucketList.js"></script>
<script src='./javascripts/countdown.js'></script>




