
<html>
<head>
  <title>Bucket List</title>
  <link rel='stylesheet' type='text/css' href='../stylesheets/style.css'></link>
</head>

<h1>Yay, you are signed in with Facebook</h1>
  <body>
    <div>
     <a href='/index/{{userId}}'> <h3>Head over to your bucket list </h3></a>
    </div>
  </body>
</html>
