
<html>
<head>
  <title>Bucket List</title>
<link rel='stylesheet' type='text/css' href='../stylesheets/normalize.css'></link>
  <link rel='stylesheet' type='text/css' href='../stylesheets/skeleton.css'></link>
  <link rel='stylesheet' type='text/css' href='../stylesheets/style.css'></link>

<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>

</head>
  <body>
<div class="container">
    <div class="row">
      <div class="twelve columns">
        <center><h1>You've signed in with Facebook</h1>
        <a id='toIndex' href='/index/{{userId}}'>
       <h3>Head over to your bucket list </h3></a></center>
      </div>
    </div>
  </div>
<div>

  </body>
</html>
