signUp.hbs
<html>
  <body>
    <h1>Show us your passport!{{user.name}} ....................</h1>
    You're not logged in, please <a href='/auth/facebook'>log in</a>

    <div class="main">
      {{{body}}}
    </div>
  </body>
</html>
