<html>
<head>
  <title>Unicorn</title>
  <link rel='stylesheet' type='text/css' href='../stylesheets/normalize.css'></link>
  <link rel='stylesheet' type='text/css' href='../stylesheets/skeleton.css'></link>
  <link rel='stylesheet' type='text/css' href='../stylesheets/style.css'></link>
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  

</head>
<body>
  <div class="container twelve columns">
    <img src="../stylesheets/banner.jpg"></img>
    <div id='signIn' class="container ten columns offset-by-three container">
      <h3>do it once, do it right...</h3>
      <h1>Bucketlist</h1>
      <a class = "center" href='/auth/facebook'><img src="../stylesheets/login-with-facebook.png" height='50px'></a>
      <div class="main">
      </div>
    </div>
  </div>
</body>
</html>
