body {
  padding: 50px;
  background-color: #593650;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  color: #F0DDD3;
  text-decoration: none;
}



https://color.adobe.com/Tema-Color-18-color-theme-8034445/
